.avatarDefault {
  height: 34px;
  width: 34px;
}

.smallAvatar {
  height: 32px;
  width: 32px;
}

.largeAvatar {
  height: 40px;
  width: 40px;
}

.avatarUserDiv {
  display: flex;
  &:hover {
    cursor:pointer ;
  }
}

.avatarUserInfo {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: start;
  margin: auto;
}

.avatarUserName {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  display: flex;
  word-wrap: normal;
  padding-left: 10px;
  max-width: 250px;
  text-align: start;
  /* background-color: #9b9696; */
}

.avatarTimeStamp,
.avatarSubText {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  padding-left: 10px;
}

.avatarSubText {
  color: #303030;
}

.avatarUserInfo small {
  color: #303030;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
