.darbeCheckBoxLabelRight {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.darbeCheckBoxLabelLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.darbeCheckBoxLabelTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darbeCheckBoxLabelBottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.darbeCheckBoxRight {
  justify-content: flex-end;
}

.darbeCheckBoxLeft {
  justify-content: flex-start;
}
