.svgMode {
  height: 28px;
  width: 28px;
}

.largeSvgMode {
  height: 48px;
  width: 48px;
}

.smallSvgMode {
  height: 20px;
  width: 20px;
}

.noBounds {
  height: auto;
  width: auto;
}

.tinySvgMode {
  height: 13px;
  width: 13px;
}
